alembic==1.8.1
alive-progress==1.6.1
bsddb3==6.2.9
certifi==2022.6.15
chardet==3.0.4
ffmpeg==1.4
ffprobe==0.5
future==0.18.2
greenlet==1.1.2
Gutenberg==0.8.2
gutenbergpy==0.3.4
gutenburg==1.0.6
httpsproxy-urllib2==1.0
idna==2.10
importlib-metadata==4.12.0
importlib-resources==5.9.0
isodate==0.6.1
lxml==4.9.1
Mako==1.2.1
MarkupSafe==2.1.1
package-name==0.1
pydub==0.25.1
pygame==2.0.1
pygame-menu==4.2.0
pymongo==4.2.0
pyparsing==2.4.7
pyperclip==1.8.2
rdflib==5.0.0
rdflib-jsonld==0.5.0
rdflib-sqlalchemy==0.5.3
requests==2.24.0
six==1.15.0
SPARQLWrapper==1.8.5
SQLAlchemy==1.4.40
typing_extensions==4.0.0
urllib3==1.25.11
wget==3.2
zipp==3.8.1
